@import url("//icon.css");
body {
    font-size: 14px;
    color: #666;
    background: #111 -moz-radial-gradient(center -100px 45deg, circle farthest-corner, #444 150px, #111 300px) no-repeat scroll 0% 0%;
    font-family: Arial,Helvetica,sans-serif;
}  


    .menu {
     top: 0;
     left: 0;
     height: 100%;
     list-style-type: none;
     margin: 0;
     padding: 0;
     background: transparent;
    }
    .menu li a{
    display: block;
    width: 10em;
    text-indent: -500em;
    line-height: 7em;
     text-align:center;
     color: #ff5c62;
     background: #fff4f5;
     position: relative;
     border-bottom: 1px solid #ffe2e3;
     transition: background 0.3s ease-in-out;
    }
    .menu li a:before {
     font-family: FontAwesome;
     speak: none;
     text-indent: 0em;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     font-size: 1.4em;

    }
   
    .menu li a.login:before {
      background-color: #0196E3;
     content: "\f040";
    }
    .menu li a.register:before {
      background-color: #C86C1F;
     content: "\f003";
    }
    .menu li a.about:before {
      background-color: #D0A525;
     content: "\f007";
    }
    .menu li a.home:before {
      background-color: #7DA315;
     content: "\f015";
    }
    .menu li a:hover{
     background: #ff5c62;
     color: #fff;
    }
    .menu li.current a {
     background: #ff5e5e;
     color: #fff;
    }
    .menu li a.active {
     background: #A1A79C none repeat scroll 0% 0%;
     color: #fff;
    }
    .menu li a.active:after{
     position:absolute;
     left:10em;
     top:0;
     content:"";
     border:3.5em solid transparent;
     border-left-color:#9AC07A;
     border-width: 3.5em 1em
    }
    .menu li{
     position:relative;
    }
    .menu li:after{
content: attr(title);
position: absolute;
left: 10em;
top: 0px;
height: 7em;
box-sizing: border-box;
text-transform: uppercase;
background: #FF5C62 none repeat scroll 0% 0%;
padding: 2em;
transition: all 0.3s ease-in-out 0s;
visibility: hidden;
opacity: 0;
    }
    .menu li:hover:after{
     visibility:visible;
     opacity:1;
    }
    @media screen and (max-height: 34em){
     .menu li{
     font-size:70%;
     }
    }

header {
  border: solid;
  width: 1130px;
  height: 180px;
  margin-left: 95px;
  border-radius: 5px;
}

header h1 {
  text-align: center;
}

.main {
  border: solid;
  width: 1130px;
  height: auto;
  margin-top: 10px;
  margin-left: 95px;
  border-radius: 5px;
}

nav {
  width: 195px;
  height: 485px;
  margin-top: 60px;
  margin-left: 10px;
  position: absolute;
}

aside {
  border: solid;
  width: 300px;
  height: 540px;
  margin-top: 60px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: grey;
  float: right;

}

article {
border: medium solid;
width: 620px;
height: 540px;
margin-top: 60px;
margin-left: 175px;
border-radius: 5px;
background-color: transparent;
}

.image {
  background:url('images/person.png') no-repeat;
border: medium solid;
width: 63px;
height: 65px;
margin-left: 10px;
margin-top: 15px;
border-radius: 40px;
}
.post {
border: medium solid;
width: 515px;
height: 300px;
margin-left: 90px;
border-radius: 5px;
}


.post p {
  text-indent: 50px;
  padding: 10px;
}

.comment {
  margin-top: 10px;
margin-left: 90px;
width: 650px;
}

aside .titlebar {
  width: 294px;
height: 30px;
border: solid;
border-color: #4A4646;
background-color: #4A4646;
}

.titlebar p {
font-size: 25px;
margin: 0; 
text-align: center;
color: white;
}

.tab-left {
margin-left: 40px;
margin-top: 40px;
}

.tab-right {
  float: right;
margin-right: 40px;
margin-top: -250px;
}

.aboutUs {
  padding: 20px;
  text-indent: 10px;  
  font-size: 14px;
}
.loginbox {
  border: solid;
  width: 500px;
  height: 300px;
  margin: 45px 60px;
  border-radius: 10px;
}

.loginbar {
  border: solid;
  width: 500px;
  height: 50px;
  margin: -3px -3px;
  border-radius: 10px;
  background-color: grey;
}
.loginbox label input {
  padding: 20px;
}